version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions:
        patterns:
          - "*"  # Group all Actions updates into a single pull request

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      dev: # Group named "dev" in pyproject.toml
        update-types:
          - "major"
          - "minor"