name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        # This installs the exact version specified in our pyproject.toml
        run: python -m pip install --upgrade pip && python -m pip install --group lint

      - name: Run Black
        run: python -m black --check --diff ./src
